<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<style>
iframe
{
  margin-left: 30px;
  padding-left:30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

</style>

<body>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="加入媒體" name="option1" />
    </form>

    </br>
    <iframe src="/media/" height="300" width=60%></iframe>
    </br></br>
    <form action="/diary/">
        <input type="submit" value="到日記" style="margin-left: 30px;" />
    </form>

</body>
</html>